/* Sistema de Tamanhos - https://typescale.com/ 

Fontes - Minor Third - 1.200 - Em PX
4.4 - 5.4 - 6.4 - 7.7 - 9.2 - 11.1 - 13.3 - 16 - 19.2 - 23 - 27.6 - 33.2 - 39.8 - 47.8 - 57.3 - 68.8 - 82.6

Espaçamentos - Major Third - 1.250 - Em PX
2.1 - 2.7 - 3.3 - 4.2 - 5.2 - 6.5 - 8.2 - 10.2 - 12.8 - 16 - 20 - 25 - 31.2 - 39 - 48.8 - 61 - 76.3 - 95.4 - 119.2 */

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

:root {
    --primary-color: #3454D1;
    --dark-color: #070707;
    --secondary-color: #34D1BF;
    --white-background: #EFEFEF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    line-height: 1.4;

}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
    padding: 0.55rem 3.12rem;
    position: fixed;
    width: 100%;
    z-index: 999;
    transition: all 0.5s;

    & img {
        width: 10rem;
    }
}

.text {
    transition: border 0.4s;
}

header.scrolled {
    /* com logo pranca  */
    /* background-color: #3333338a; */
    /* com logo prera */
     background-color: rgba(0, 0, 0, 0.548);
    border: none;
    padding: 1rem 3.45rem;

}


header::before {
    box-sizing: border-box;
}

header h1 {
    margin: 0;
}

.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;

    & li {
        margin: 0 15px;

        a {
            color: var(--white-background);
            text-decoration: none;
            font-weight: 500;
            transition: color 0.3s;
            letter-spacing: 1.45px;

            &:hover {
                color: #112e61;
                opacity: 0.7;
            }
        }
    }
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }

@media (max-width: 715px) {
    header {
        background-color: #333;

        img {
            width: 10rem;
        }
    }

    header.scrolled {
        background-color: #333;
    }

    .overlay {
        margin-top: 15vh;
        line-height: 1;
    }

    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: #333;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        z-index: -1;
    }

    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  .nav-list.active {
    transform: translateX(0);
  
    & .rodape {
        /* font-size: 2.5vw; */
    }

    & .whatsapp {
        right: 0.5rem;
    }
}

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }


#intro {
    background-image: url(assets/backk.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}


.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 50px;
    border-radius: 10px;
    animation: appear 3s;


    & .overlay-location {
        margin-top: 2rem;
        display: flex;
        padding: 0px 10px;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        
        svg {
            width: 27px;
            height: 27px;
        }
    }
}

@media all and (max-width: 741px) {
    .overlay {
        padding: 20px;
    }  

}

#intro h2 {
    font-size: 2.5em;
    margin: 0;
}

#intro p {
    font-size: 1.2em;
    margin: 20px 0;
}

#intro button {
    padding: 15px 50px;
    font-size: 1em;
    color: #fff;
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    unicode-bidi: isolate;
    transition: background-color ease-in 0.3s;
}

#intro button:hover {
    background-color: rgb(22, 22, 174);
}

section {
    padding: 60px 20px;
    background: var(--white-background);
    color: #333;
}

section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.course {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    /* flex-wrap: wrap; */
}


.course:hover {
    transform: translateY(-10px);
}

.course img {
    width: 300px;
    height: auto;
    border-right: 2px solid #f5f5f5;
}

.course-info {
    padding: 20px;
    /* flex-grow: 1;
    flex-basis: 200; */
}

.course h3 {
    font-size: 1.8em;
    margin: 0 0 15px;
}

.course p {
    font-size: 1em;
    color: 666;
    margin: 0 0 15px;
}

.course button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

.course button:hover {
    background-color: #555;
}

.help-content {
    text-align: center;
}

.help-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

/* ALTERAR */
.help-link {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}
/* ALTERAR */

.help-link:hover {
    background-color: #555;
}

/* contato */

.whatsapp {
    position: fixed;
    right: 2rem;
    bottom: 0.8rem;
    width: 8.5rem;
    animation: fadeLogo;
    animation-timeline: view(auto auto);
    transition: all 0.4s;
}

@keyframes fadeLogo {
    0% {
        filter: blur(2px);
        transform: translate(108px, 45px);
    }
    100% {
        opacity: 1;
        filter: blur(0px);
        transform: translate(0);
    }
}

.whatsapp img {
    width: 100%;
}

.whatsapp:hover {
    transform: translate(0.5rem, 0.5rem);
}

.icon-principal {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.55rem;

    & .icon__redes {
        margin-top: 1.55rem;
    
        & .icon__rede {
          opacity: 0.6;
          filter: grayscale(1);
    
          &:hover {
            opacity: 1;
            filter: none;
          }
        }
    }

}

/* footer */
#logo-watts {
    & img {
        width: 27px;
    }
}
@media (max-width: 845px) {
    .whatsapp {
        width: 7.5rem;
        right: 1rem;
    }
}
.rodape {
    font-size: 1.33rem;
    padding-top: 2.5rem;

    & .rodape__secao-formulario {
        background-color: #f9f9f9;
        padding: 3.12rem 2rem;

        & .rodape__app-newsletter {
            max-width: 136.6rem;
            margin: 0 auto;

                & .rodape__orcamento {
                    display: flex;
                    align-items: center;
                    gap: 1.55rem;
                }
        }
    }
}
  .rodape__container {
    display: flex;
    justify-content: space-between;
    gap: 1.6rem;
    max-width: 136.6rem;
    margin: 0 auto;
  }

  @media (max-width: 59.375em) {
     ul { 
        text-align: center;
     }

    .rodape__container {
      flex-direction: column;
      gap: 3.12rem;
      align-items: center;
    }
  }
  
  @media (max-width: 80em) {
    .rodape__app-newsletter {
        flex-direction: column;
        gap: 3.12rem;
    }
  }
  @media (max-width: 59.375em) {
    .rodape__app-newsletter {
      flex-direction: column;
      max-width: 66rem;
    }
  }
  @media (max-width: 59.375em) {
    .rodape__app {
      flex-direction: column;
    }
  }
  @media (max-width: 59.375em) {
    .rodape__orcamento {
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
    }
  }
  .rodape__container-app {
    max-width: 50rem;
  }
  @media (max-width: 80em) {
    .rodape__container-app {
      max-width: 38rem;
    }
  }
  .rodape__container-orcamento {
    max-width: 50%;
  }
  @media (max-width: 80em) {
    .rodape__container-orcamento {
      max-width: 100%;
    }
  }
  .rodape__texto-orcamento {
    font-size: 3.32rem;
    font-weight: 600;
    text-wrap: nowrap;
  }
  @media (max-width: 59.375em) {
    .rodape__informacoes {
      max-width: 66rem;
    }
  }
  @media (max-width: 30em) {
    .rodape__informacoes {
      flex-wrap: wrap;
      text-align: center;
    }
  }
  .rodape__links {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.65rem;
    list-style: none;
    color: #585858;
  }
  .rodape__titulo {
    font-size: 1.92rem;
    font-weight: 700;
    letter-spacing: 0.55px;
  }
  .rodape__atendimento {    
    display: flex;
    flex-flow: column;
    gap: 1rem;
    width: 100%;
    max-width: 46.4rem;
  }
  @media (max-width: 80em) {
    .rodape__atendimento {
      max-width: 35rem;
    }
  }
  @media (max-width: 59.375em) {
    .rodape__atendimento {
      max-width: 60rem;
      text-align: center;
    }
  }
  @media (max-width: 30em) {
    .rodape__ancoras {
      gap: 2rem;
    }
  }
  .rodape__ancora-icone {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    text-decoration-thickness: 1px;
    color: inherit;
    width: 50%;
  }
  @media (max-width: 59.375em) {
    .rodape__ancora-icone {
      width: auto;
      flex: 1;
      justify-content: center;
    }
  }
  @media (max-width: 30em) {
    .rodape__ancora-icone {
      min-width: 100%;
    }
  }
.rodape__redes {
    display: flex; 
    margin-top: 3.55rem;
    justify-content: center;
    align-items: center;
    gap: 7.55rem;

    & .rodape__rede {
      opacity: 0.6;
      filter: grayscale(1);

      &:hover {
        opacity: 1;
        filter: none;
      }
    }
}

.rodape__secao-empresa {
    display: flex;
    justify-content: center;
    background-color: #f0f0f0;
    font-size: 1.17rem;
    opacity: 0.5;
    padding: 1.28rem;
    text-align: center;
}